.song-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--accent-color-contrast);
  margin-top: 1rem;
  max-width: 32rem;
}

.section-lyric .react-button {
  display: flex;
  height: 1rem;
  width: auto;
  align-self: center;
  margin: 0.3rem 0.5rem 0 0;
  padding: 0;
}

.react-button:hover:not(#add-section svg) {
  cursor: pointer;
}

#add-section {
  border: none;
  font-weight: bold;
  font-size: 25px;
  background-color: transparent;
  color: var(--accent-color-contrast);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#add-section svg {
  height: 1.5rem;
  transform: translateY(1px);
}

#deleteSongButtonIcon {
  transition: 300ms linear all;
}
#add-section svg:hover,
#deleteSongButtonIcon svg:hover {
  height: 1.5rem;
  transform: rotate(180deg);
  filter: grayscale(100);
}

#add-section:hover svg {
  transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#add-section:hover {
  filter: grayscale(100);
  cursor: pointer;
}
