.section-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
}

.section-card--title {
  font-weight: 600;
  margin: 0;
}

.section-card--content {
  display: flex;
}

.section-card--content__lyrics {
  min-width: 20rem;
  height: 100%;
  padding: 1rem;
  background-color: rgb(237, 237, 237);
  display: flex;
  overflow: hidden;
}
.section-card--content__lyrics ul {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.section-card--actions {
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: space-between;
}

.section-lyric {
  display:flex;
  /* padding-left: 5rem; */
}

.section-lyric input {
  display: block;
  overflow:visible;
  min-width: 200px;
  max-width: 100%;
}

.section-lyric--drag {
  display: inline;
}