*:focus {
  outline: none;
}

body {
  outline: none;
  border: none;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

html {
  overflow: auto;
  padding: 0;
  margin: 0;
}

.svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.react-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: auto;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: 300ms linear all;
}

.react-button:hover {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}
.react-button:hover:not(#add-section) {
  filter: grayscale(100);
}

::-webkit-scrollbar {
  width: 0;
}
