.section-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  width: auto;
  border: solid 2px var(--accent-color);
  box-shadow: 5px 5px 0px var(--accent-color);
}

.section-card--title {
  font-size: 20px;
  font-weight: 600;
  margin: 0.3rem 1rem;
  color: var(--accent-color);
}

.section-card--content {
  display: flex;
}

.section-card--content__lyrics {
  min-width: 20rem;
  height: 100%;
  padding: 1rem;
  background-color: var(--light-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.section-card--content__lyrics ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.section-card--actions {
  display: flex;
  flex-direction: column;
  width: 10%;
  justify-content: space-between;
}

.section-lyric {
  display: flex;
  align-items: center;
  width: 100%;
}

.section-lyric input {
  overflow: none;
  min-width: 200px;
  max-width: 100%;
  border: none;
  background-color: transparent;
}

.section-lyric--actions {
  margin-left: auto;
  display: flex;
}
.section-lyric--actions__random {
  padding: 0;
  margin: 0;
  align-self: center;
}

.svg-button {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  width: auto;
  padding: 0.5rem;
  cursor: pointer;
}
.svg-button svg:hover, .svg-button svg line:hover {
  fill: var(--light-background);
  stroke: var(--light-background);
  transition: var(--transition-speed);
}
#add-icon svg path:first-child:hover {
  stroke: var(--accent-color);
  transition: var(--transition-speed);
}
#lyric-dice-icon svg path:hover {
  fill: var(--accent-color);
  transition: var(--transition-speed);
  stroke: none;
}
.svg-button svg {
  height: 1.5rem;
  width: auto;
}
.svg-button svg path,
.svg-button svg line {
  stroke: var(--black);
  transition: var(--transition-speed);
}
#lyric-dice-icon svg path {
  fill: var(--black);
}
